.button-color {
  margin-bottom: 10px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.button-size {
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  border: 1px #bdbdbd solid;
  box-shadow: none;
  padding: 0;
}

.flip-play-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.origin-price {
  font-style: italic;
  text-decoration: line-through;
}

.discounted-price {
  font-family: 'Playfair Display', serif;
}

.grand-total {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-style: bold;
}

.cart-number {
  display: flex;
  top: 10px;
  left: 55%;
  min-width: 16px;
  min-height: 16px;
  border-radius: 10px;
  position: absolute;
  background-color: #bdbdbd;
  font-weight: 700;
  line-height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.attribute-active {
  border: 1.5px gray solid;
}

.dep-li {
  line-height: 30px;
  padding: 10px;
  border: none;
  color: #37474f;
}
.dep-li:hover {
  line-height: 30px;
  padding: 10px;
  background-color: #e0e0e04d;
  color: #37474f;
}
.cat-li {
  line-height: 30px;
  padding: 10px 10px 10px 30px;
  border: none;
  color: #37474f;
}
.cat-li:hover {
  line-height: 30px;
  padding: 10px 10px 10px 30px;
  background-color: #e0e0e04d;
  color: #37474f;
}
.dep-active {
  background-color: #e0e0e04d;
}
.cat-active {
  background-color: #e0e0e0d3;
}
img {
  opacity: 1;
  mix-blend-mode: multiply;
  vertical-align: top;
}