.button-color {
  margin-bottom: 10px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.button-size {
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  border: 1px #bdbdbd solid;
  box-shadow: none;
  padding: 0;
}

.flip-play-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.origin-price {
  font-style: italic;
  text-decoration: line-through;
}

.discounted-price {
  font-family: 'Playfair Display', serif;
}

.grand-total {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-style: bold;
}